body {
  height: 200em;
  background-color: #5cdb95;
}

h1 {
  font-family: "Comfortaa", cursive;
  color: #05386b;

  letter-spacing: 0.2em;
}

h2 {
  font-family: "Knewave", cursive;
  color: #05386b;
  text-transform: uppercase;
}

p {
  font-family: "Comfortaa", cursive;
  color: #FFE4E0;
  text-shadow: 1px 1px 1px 1px black;
}

.responsive{
  width: 60%;
  height: auto;
}

#image{
    z-index: -1;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  height: 30em;
  width: 90vw;
  border: 2px dashed #379683;
  display: flex;
  align-items: center;
  justify-content: center;
}

#heading {
  display: flex;
  align-items: center;
  justify-content:center;
  font-style: italic;
}

#kash {
  text-indent: -9999px;
}

#home {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.5em;
  margin-bottom: 2vh;
}

#about {
  padding-top: 3em;
  height: 20em;
  font-size: 2.5em;
  line-height: 1.3em;
  display: block;
  text-align: center;
  font-weight: bold;

  background-image: linear-gradient(
  rgba(5, 214, 134, 0.45),
  rgba(5, 214, 134, 0.45)),
  url(https://files.gitter.im/Kashgroup/Lobby/nRPa/IMG_3676background3.jpg);
  min-width: 1024px;
  width: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}

#about-us-Kash{
  font-family: 'Knewave', cursive;
  color: #05386B;
  text-transform: uppercase;
  text-shadow: 2px 2px #EDF5E1;
}

#smaller-text{
  font-size: 1.5rem;
}

#team {
  padding-top: 6em;
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 auto;
  max-width: 500px;

}
#section3 {
  background-color: #379683;
  padding-bottom: 6em;
}

#section2 {
  background-color: #8ee4af;
}

#contact {
  padding-top: 6em;
  height: 50em;
}

.hannah img {
  grid-area: 1 / 1 / 2 / 2;
}
.hannah section {
  grid-area: 2 / 1 / 3 / 2;
}
.sandra img {
  grid-area: 1 / 2 / 2 / 3;
}
.sandra section {
  grid-area: 2 / 2 / 3 / 3;
}
.kristina img {
  grid-area: 1 / 3 / 2 / 4;
}
.kristina section {
  grid-area: 2 / 3 / 3 / 4;
}
.team .alex img {
  grid-area: 1 / 4 / 3 / 5;
  min-width: 250px;
  height: 250px;
}
.kristina section {
  grid-area: 2 / 4 / 3 / 5;
}
#alex img {
  width: 250px;
  min-width: 250px;
}
#contact {
  padding-top: 6em;
  height: 50em;
}
#section4 {

  background-image: linear-gradient(
    rgba(77, 211, 159, 0.45),
    rgba(170, 255, 223, 0.45)),
    url(https://files.gitter.im/Kashgroup/Lobby/GAZX/IMG_3695background3.jpg);
    width: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
}

/**************navbar style *************/
.navbar {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1vw;
  position: sticky;
  top: 2vw;
}

.navbar a {
  display: inline-block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Knewave", cursive;
  text-decoration: none;
  font-size: 2em;
  color: #05386b;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-shadow: 2px 2px #EDF5E1;
}
/************* form style ***************/
.form-style-1 {
  margin: 10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
}

.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}

.form-style-1 label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
  font-family: "Comfortaa", cursive;
  color: #05386b;
}

.form-style-1 input[type="text"],
.form-style-1 input[type="email"],
textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}

.form-style-1 input[type="text"]:focus,
.form-style-1 input[type="email"]:focus,
.form-style-1 textarea:focus {
  -moz-box-shadow: 0 0 8px #379683;
  -webkit-box-shadow: 0 0 8px #379683;
  box-shadow: 0 0 8px #379683;
  border: 1px solid #379683;
}

.form-style-1 {
  width: 49%;
}

.form-style-1 .field-long {
  width: 100%;
}

.form-style-1 .field-textarea {
  height: 100px;
}

.form-style-1 input[type="submit"] {
  background: #32553f;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
  font-family: "Comfortaa", cursive;
  color: #cad8e6;
}

.form-style-1 input[type="submit"]:hover {
  background: #4691a4;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/************* form style ***************/
