
body {
    height: 2000px;
    background-color: #5CDB95;
}

.navbar {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    position: sticky; top: 2vw;
}

.navbar a {
    display: inline-block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 2em;
    
  }
  
.form-style-1{
  margin: 10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
}

.form-style-1 li{
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}

.form-style-1 label{
  margin: 0 0 3px 0;
  padding: 0px;
  display:block;
  font-weight: bold;
}

.form-style-1 input[type=text],
.form-style-1 input[type=email],
textarea{
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
border:1px solid #BEBEBE;
padding: 7px;
margin:0px;
-webkit-transition: all 0.30s ease-in-out;
-moz-transition: all 0.30s ease-in-out;
-ms-transition: all 0.30s ease-in-out;
-o-transition: all 0.30s ease-in-out;
outline: none;
}

.form-style-1 input[type=text]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus{
-moz-box-shadow: 0 0 8px #88D5E9;
-webkit-box-shadow: 0 0 8px #88D5E9;
box-shadow: 0 0 8px #88D5E9;
border: 1px solid #88D5E9;
}

<<<<<<< HEAD
 main {
     display: grid;
     grid-gap: 10px;
     padding: 20px;
     width: 100%;
     grid-auto-flow: rows;
     grid-template-columns: repeat(4, 50px);
     grid-template-rows: 4;
     grid-template-areas: 
  "main main main main" 
  "main main main main" 
  "main main main main" 
  "footer footer footer footer";
}

#about {

}
=======
.form-style-1{
width: 49%;
}

.form-style-1 .field-long{
width: 100%;
}


.form-style-1 .field-textarea{
height: 100px;
}

.form-style-1 input[type=submit], .form-style-1 input[type=button]{
background: #4B99AD;
padding: 8px 15px 8px 15px;
border: none;
color: #fff;
}

.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
background: #4691A4;
box-shadow:none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
}
>>>>>>> bb516518f7d1e7f7702c8681dee67db83f0a6763
